SisAcad/Service References/ServiceReference1/wsNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="soma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="somaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="somaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="somaSoapIn">
    <wsdl:part name="parameters" element="tns:soma" />
  </wsdl:message>
  <wsdl:message name="somaSoapOut">
    <wsdl:part name="parameters" element="tns:somaResponse" />
  </wsdl:message>
  <wsdl:message name="subSoapIn">
    <wsdl:part name="parameters" element="tns:sub" />
  </wsdl:message>
  <wsdl:message name="subSoapOut">
    <wsdl:part name="parameters" element="tns:subResponse" />
  </wsdl:message>
  <wsdl:portType name="wsNewSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="metodo">
      <wsdl:input name="soma" message="tns:somaSoapIn" />
      <wsdl:output name="soma" message="tns:somaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="metodo">
      <wsdl:input name="sub" message="tns:subSoapIn" />
      <wsdl:output name="sub" message="tns:subSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsNewSoap" type="tns:wsNewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="metodo">
      <soap:operation soapAction="http://tempuri.org/soma" style="document" />
      <wsdl:input name="soma">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="soma">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="metodo">
      <soap:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input name="sub">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sub">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsNewSoap12" type="tns:wsNewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="metodo">
      <soap12:operation soapAction="http://tempuri.org/soma" style="document" />
      <wsdl:input name="soma">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="soma">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="metodo">
      <soap12:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input name="sub">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sub">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsNew">
    <wsdl:port name="wsNewSoap" binding="tns:wsNewSoap">
      <soap:address location="http://localhost:50491/wsNew.asmx" />
    </wsdl:port>
    <wsdl:port name="wsNewSoap12" binding="tns:wsNewSoap12">
      <soap12:address location="http://localhost:50491/wsNew.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>